# Build
/target
debug/

# Logs
*.log

# Environment
.env
.env.*

# Editor swap files
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Rust
*.d
*.o
*.so
*.rlib
*.dll
*.dylib

# Rustfmt backup files
**/*.rs.bk

# MSVC debugging
*.pdb

# Cargo mutants
**/mutants.out*/

# eBPF build artifacts
/target/bpfel-unknown-none/
